<link rel="stylesheet" href="css/landing-page/landing-page.css" />
<div class="page-container">
	<div class="left-container">
		<div class="content-box">
			<div class="content">
				<h2>COVID-19</h2>
				<h2>Data Tracker</h2>
				<p>Lorem Ipsum Text Here Replace me</p>
				<a href="home"
					><button type="button" class="get-started-btn">
						Get Started
					</button></a
				>
			</div>
		</div>
	</div>
	<div class="right-container">
		<div class="graphic-container">
			<img src="assets/slider1.svg" alt="" />
		</div>
	</div>
</div>
